.TopPane {
	height: 100vh;
}

.LeftPane {
	height: 90vh;
	overflow: scroll;
}

.Topics {
	height: 90vh;
}

.RightPane {
	height: 90vh;
}

.Requirements {
	height: 60vh;
	overflow: scroll;
}

.ButtonInteraction {
	height: 20vh;
	margin-top: 10vh;
}

.BottomPane {
	height: 100vh;
}

.EmailEditor textarea {
	height: 100vh;
}

